<table cellspacing=0 cellpadding=0>
  <tr><td colspan=4>
  <table width='100%'><tr>
    <td align='left'><h2>most interesting tweets</h2></td><td align='right'><h2><a href="/">home</a></h2></td></tr></table>
  </td></tr>
<% @status_updates.each_with_index do |update, index| %>
  <tr bgcolor="<%= (index % 2 == 0) ? '#FFFFFF' : '#FFFFDD' %>">
    <%= render :partial => 'status_updates/status_update', :locals => {:status_update => update} %>
  </tr>
<% end %>
</table>