<h1>Rubyists we're tracking</h1>

<table>
  <tr>
    <th>Twitter name</th>
  </tr>

<% @rubyists.each do |rubyist| %>
  <tr>
    <td><%=h rubyist.twitter_name %></td>
  </tr>
<% end %>
</table>

<br />