<table cellspacing=0 cellpadding=0>
  <tr>
    <td colspan=4>
      <div class="header follow-matz"><h2>follow&nbsp;matz:</h2></div>
      <div class="header all"><h2>all</h2></div>
      <div class="header ruby-related"><h2><a href="/ruby-related">ruby&nbsp;related</a></h2></div>
      <div class="header interesting"><h2><a href="/interesting">interesting</a></h2></div>
      <div class="header about"><h2><a href="/about">about</a></h2></div>
    </td>
  </tr>
<%- @updates.each_with_index do |update, index| -%>
  <tr bgcolor="<%= (index % 2 == 0) ? '#FFFFFF' : '#FFFFDD' %>">
    <%= render :partial => 'status_updates/status_update', :locals => {:status_update => update} %>
  </tr>
<%- end -%>
  <tr>
    <td colspan="3">
      <%= will_paginate @updates %>
    </td>
  </tr>
</table>